# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.obj
*.xml
*.jpg
*.log
*.png
*.webp
*.so
*.dylib
*.db
*.bin
/release/
/public/
*.ini
*node_modules
.vscode

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Development enviroment
.idea/*
uploads/*
app/cmd/conf.ini
app/cmd/temp
app/cmd/logs

# Version control
version.lock

# Config file
/statik/
/app/cmd/temp/
